@media (max-width: 1024px) {
	.slick-arrow {
		display: none !important;
	}
	$tabletPadding: 30px;
	.section-1 {
		.text-left {
			h1 {
				font-size: 30px;
			}
			p {
				font-size: 18px;
			}
		}
		.relative {
			.inner {
				transform: translate(70%, -240%);
				width: 50%;
			}
			input {
				width: 100%;
				padding: 0.6rem 0.8rem 0.3rem;
			}
			button {
				width: 180px;
			}
		}
	}
	.section-2 {
		.video {
			.middle {
				width: 33rem;
				height: 19rem;
				margin: -10px 2em 0;
			}

			.sides {
				height: 15vh;
				width: 12rem;
			}
		}
		.btn-youtube {
			margin-top: -3rem;
			img {
				width: 30%;
			}
		}
	}
	.section-3 {
		padding: 200px $tabletPadding 300px;
		.text-top {
			h4 {
				font-size: 22px;
				margin-top: 10px;
			}
		}
		.girl,
		.man {
			img {
				width: 70%;
			}
		}
		.man {
			text-align: right;
			img {
				width: 60%;
			}
		}
	}
	.section-4 {
		padding: 60px $tabletPadding;
		.lights {
			img {
				width: 55%;
				margin-left: auto;
				display: block;
			}
		}
		.left {
			left: 0;
			top: 1rem;
			li {
				font-size: 18px;
			}
		}
		.right {
			li {
				font-size: 18px;
			}
			top: 1.2rem;
		}
	}
	.section-5 {
		padding: 170px $tabletPadding 30px;
		.top {
			p {
				width: 60%;
			}
		}
	}
	.section-6 {
		.pl-custom-left {
			h2 {
				font-size: 2.5rem;
			}
		}
	}
	.section-7 {
		padding: 70px $tabletPadding 50px;
		.people {
			margin-top: 10rem;
			.logo {
				top: -20%;
				width: 20%;
			}
			.animaciones {
				margin: 22rem auto 0;
				width: 95%;
			}
		}
		.cards {
			.slide {
				.text {
					width: 100%;
				}
			}
		}
	}
	.section-9 {
		.bottom {
			.so-width-left {
				margin-left: 2rem;
			}

			.so-width-right {
				margin-right: 1rem;
			}
		}
	}
	.section-11 {
		.so-mt {
			h3 {
				font-size: 30px;
			}
		}
	}
	.section-12 {
		.left {
			.contacta {
				width: 60%;
				font-size: 22px;
			}
			h2,
			.orange {
				font-size: 2rem;
			}
			.phone {
				.orange {
					font-size: 1rem !important;
					right: 2rem;
				}
			}
		}
		.right {
			.radio {
				label {
					font-size: 11px;
				}
			}
		}
	}
}
@media (max-width: 780px) {
	header {
		.navbar-nav li a {
			font-size: 14px !important;
		}
		.menu-icons svg image {
			width: 50%;
		}
		.menu-icons svg {
			margin: 0 auto !important;
		}
		ul.navbar-nav.m-auto {
			text-align: center;
		}
	}
	footer {
		.r_border-right {
			border: none !important;
			font-size: 14px;
		}
		.footer-bg {
			padding: 1.5rem;
		}
		.footer-row {
			display: flex !important;
		}
		.r_footer-w50 {
			width: 50% !important;
		}
	}
	.section-1 {
		.text-left {
			h1 {
				margin: 0 auto;
				font-size: 40px;
			}
			p {
				margin: 0 auto;
				text-align: center;
				font-size: 1.5rem;
				margin-top: 20px;
			}
		}
		.hand {
			padding: 0 !important;
			img {
				width: 75%;
			}
		}
		.relative {
			.inner {
				transform: translate(70%, -75%);
			}
		}
	}
	.section-2 {
		.video {
			.middle {
				width: 25rem;
				height: 14rem;
				margin: -18px 1em 0;
			}
			.sides {
				height: 10vh;
				width: 9rem;
			}
		}
	}
	.section-3 {
		.text-top {
			h2 {
				font-size: 28px;
				margin-bottom: 20px;
			}
		}
		.logo {
			margin: 30px auto;
		}
		.girl,
		.man {
			img {
				width: 55%;
			}
		}
		.man {
			text-align: right;
			img {
				width: 55%;
			}
		}
		.arrow {
			left: 45%;
			z-index: 99999;
		}
	}
	.section-4 {
		p {
			text-align: center;
		}
		.lights {
			img {
				width: 70%;
				margin: 0 auto !important;
			}
		}
		.left {
			left: -1rem;
			top: 1rem;

			li {
				font-size: 16px;
				margin-bottom: 1.7em;
			}
		}
		.right {
			li {
				font-size: 16px;
				margin-bottom: 1.7em;
			}
			top: 1rem;
		}
		.so-tablet-mt {
			margin-top: 15rem !important;
		}
	}
	.section-5 {
		.top {
			p {
				width: 100%;
				padding: 10px 20px;
			}
		}
	}
	.section-6 {
		.pl-custom-left {
			h2 {
				text-align: center;
			}
		}
		.pl-custom-right {
			margin: 3rem 0;
		}
	}
	.section-7 {
		h2 {
			width: 100%;
		}
		.people {
			.logo {
				top: -45%;
				width: 35%;
			}
			.animaciones {
				margin: 22rem auto 0;
				width: 95%;
			}
		}
		.cards {
			.slide {
				.text {
					width: 100%;
				}
			}
		}
	}
	.section-8 {
		.top .col-lg-4.text-center img {
			margin: 0 auto;
			width: 50%;
			display: block;
		}
		.bottom {
			margin: 5rem auto !important;
			.text-center:first-child,
			.text-center:last-child {
				text-align: center !important;
				margin-bottom: 40px;
			}
			.text-center {
				img {
					width: 40%;
				}
			}
		}
	}
	.section-9 {
		.text-center {
			h2 {
				width: 100%;
			}
		}
	}
	.section-10 {
		.flyer {
			margin-top: 3rem !important;
		}
	}
	.section-11 {
		.so-mt {
			h3 {
				margin: 0 auto;
				text-align: center;
				font-size: 3rem;
				margin-bottom: 4rem;
			}
			p {
				text-align: center;
			}
		}
	}
	.section-12 {
		.left {
			.contacta {
				width: 100%;
				margin-bottom: 20px;
			}
			h2,
			p,
			h3 {
				text-align: center;
			}
		}
	}
}
